rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /shared_entregas/{document} {
      allow read, write: if true;
    }
    match /mail/{document} {
      allow create, read: if true;
    }
  }
}
